h1 {
    color: rgb(50, 81, 99);
}

#logo-circulo-footer {
    height: 80px;
}

.labels-info {
    display: flex;
    align-items: center;
}

footer div {
    width: 100%;
    background-color: darkgray;
}

footer div p {
    color: black;
}