.selector-for-some-widget {
    box-sizing: content-box;
}

header {
    height: 170px;
    background-color: rgb(50, 81, 99);
}

header label,
h2 {
    color: white;
}


/* navbar menu*/

.navbar {
    background-color: rgb(49, 158, 221);
}

.busqueda {
    background-color: rgb(50, 81, 99);
}

.btn {
    background-color: rgb(50, 81, 99);
    color: white;
}

nav {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

nav ul li {
    margin: 0;
    border-right: 3px solid;
    height: 30px;
    vertical-align: middle;
}

nav ul li:last-child {
    padding: 0;
    margin: 0;
    border-right: none;
}

.active {
    background-color: rgb(9, 121, 185);
    height: 30px;
    border-right: 5px solid;
}

footer {
    padding: 20px;
    background-color: rgb(41, 166, 238);
}

.footer,
.info-footer {
    background-color: rgb(41, 166, 238);
}

.info-footer a {
    text-decoration: none;
}

.info-footer label {
    font-size: 20px;
}

footer p {
    text-align: center;
    color: white;
}

#logo-circulo {
    height: 130px;
    float: right;
}

.hd-logo h2 {
    float: left;
    padding-left: 0;
    vertical-align: middle;
    margin-top: 60px;
}

.hd-label label {
    float: right;
    padding-top: 60px;
    padding-right: 15px;
}